body.home .entry-header {
  display: none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  background: $color__daytheme-bg;

  &.home {
    .entry-content {
      opacity: 0;
      animation: fadeIn;
      animation-delay: 900ms;
      animation-duration: 0.2s;
      animation-fill-mode: forwards;
    }
  }
}

.page-template-default {
  height: 100vh;
  overflow: hidden;
}

.site-main {
  height: calc(
          100vh - $size__desktop-height-header - $size__desktop-height-footer
  );
  padding: 130px 80px 0 80px;
  position: relative;
  z-index: 1;

  .entry-title {
    margin: 0;
    padding: 0 !important;
  }

  .entry-content {
    max-width: 45vw;
    color: $color__daytheme-txt;

    h2:not(.sptp-member-name-title) {
      font-size: 64px;
      font-weight: 300;
      line-height: 62px;
      text-transform: uppercase;

      strong {
        font-weight: 700;
      }
    }

    p {
      font-size: 24px;
      line-height: normal;
      font-weight: 300;
    }
  }
}

.close-btn-triangle {
  font-size: 40px;
  font-weight: 700;
  color: $color__nighttheme-txt;
  position: absolute;
  z-index: 5;
  right: -35px;
  bottom: -160px;
  padding: 190px 90px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
  }

  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: $color__nighttheme-bg;
    position: absolute;
    z-index: -1;
    animation: rotate-action-btn 300ms;
    animation-delay: 200ms;
    animation-fill-mode: forwards;
  }
}

#background-video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  z-index: -1;
  animation: bounceIn;
  animation-delay: 900ms;
  animation-duration: 500ms;
}

.sp-team.sptp-section {
  display: flex;
  position: absolute !important;
  top: 0;
  right: 0;
  padding-right: 80px;
  max-width: 950px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  height: calc(
          100vh - $size__desktop-height-header - $size__desktop-height-footer
  );

  .sptp-section-title span {
    font-size: 40px;
    font-weight: 600;
    color: $color__daytheme-txt !important;
    animation: headShake 200ms;
    animation-delay: 100ms;
    animation-duration: 1s;
  }

  .sp-team-item {
    $animation-duration: 350ms;
    $animation-delay: 70ms;
    $max-items: 10;

    @for $i from 1 through $max-items {
      &:nth-child(#{$i}) img {
        animation: fadeIn;
        animation-duration: $animation-duration;
        animation-fill-mode: forwards;
        animation-delay: $animation-delay * ($i - 1);
      }
    }

    .sptp-member-avatar-img {
      background: transparent !important;
    }

    .sptp-member-name-title,
    .sptp-jop-title {
      text-align: center;
      color: $color__daytheme-txt !important;
    }

    h2.sptp-member-name-title {
      font-size: 16px;
      font-weight: 500;
    }

    h4.sptp-jop-title {
      font-size: 12px;
    }

    .sptp-member img {
      opacity: 0;
      width: 195px;
      height: auto;
    }
  }
}

@keyframes rotate-action-btn {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(50deg);
  }
}
