.site-header {
  width: 100%;
  height: $size__desktop-height-header;
  background: $color__daytheme-bg;
  color: $color__daytheme-txt;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 30px 80px;
  position: relative;
  z-index: 1;
}

.site-branding,
.custom-logo,
.custom-logo-link {
  width: 157px;
  height: 41px;
  margin: 0;
  padding: 0;
  display: flex;
}

#primary-menu {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;

  .page_item a {
    margin-right: 40px;
    color: $color__daytheme-txt;
    text-transform: uppercase;
    font-size: 16px;
  }
}

.home {
  &:not(.our-team-layer-active) {
    .sp-team.sptp-section {
      display: none;
    }
  }

  &.our-team-layer-active {
    .wp-block-heading,
    .wp-block-buttons,
    p {
      display: none;
    }

    .square-bg {
      right: -35vw;
    }
  }
}

.square-bg {
  display: flex;
  width: 70vw;
  height: 300vh;
  background: $color__daytheme-bg;
  top: -500px;
  position: absolute;
  z-index: 0;
  animation: backInLeft;
  animation-duration: 1s;
  box-shadow: 21px 15px 79px -13px rgba(66, 68, 90, 1);
}

.square-wrapper {
  animation: rotate 300ms;
  animation-delay: 500ms;
  animation-fill-mode: forwards;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(30deg);
  }
}
